{% extends 'layout.html' %} {% block content %}
<div class="container row col0">
	<img class="col0" src="static/img/welcomebanner1.png" alt="" />
</div>
<div class="container gap-5">
	<div class="row">
		<div class="col col1 me-4">
			<img class="one" src="static/img/offer1(1).png" alt="" />
		</div>
		<div class="col col2 me-4">
			<img class="one" src="static/img/vegetablesoffer.png" alt="" />
		</div>
		<div class="col col3">
			<img class="one" src="static/img/offer3 (1).png" alt="" />
		</div>
	</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-5">
      <h3 class="mb-0 mt-4 mb-4">Shop By Category</h3>
    </div>
  </div>
  <div class="row justify-content-center justify-content-md-start">
    <div class="col-lg-2 col-md-4 mb-4">
      <div class="card cards">
        <a href="#">
          <img class="card-img-top mt-4 img-fluid" src="static/img/vegetablecard.png" alt="">
        </a>
        <div class="card-body text-center">
          <p class="font-size-sm card-title">
            <b>Cabbages & Tomatoes</b>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 mb-4">
      <div class="card cards">
        <a href="#">
          <img class="card-img-top mt-5 img-fluid" src="static/img/fruits.png" alt="">
        </a>
        <div class="card-body text-center mt-4">
          <p class="font-size-sm card-title">
            <b>Fruits</b>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 mb-4">
      <div class="card cards">
        <a href="#">
          <img class="card-img-top mt-4 img-fluid" src="static/img/dairy.png" alt="">
        </a>
        <div class="card-body text-center mt-2">
          <p class="font-size-sm card-title">
            <b>Dairy Products</b>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 mb-4">
        <div class="card cards">
          <a href="#">
            <img class="card-img-top mt-5 img-fluid" src="static/img/spicecard.png" alt="">
          </a>
          <div class="card-body text-center">
            <p class="font-size-sm card-title mt-4">
              <b>Spices</b>
            </p>
          </div>
        </div>
      </div>
    <div class="col-lg-2 col-md-4 mb-4">
      <div class="card cards">
        <a href="#">
          <img class="card-img-top mt-4 img-size mx-3" src="static/img/ricecard.png" alt="">
        </a>
        <div class="card-body text-center">
          <p class="font-size-sm card-title mt-3">
            <b>Rice</b>
          </p>
        </div>
      </div>
    </div>
	<div class="col-lg-2 col-md-4 mb-4">
      <div class="card cards">
        <a href="#">
          <img class="card-img-top mt-5 img-fluid" src="static/img/legumescard.png" alt="">
        </a>
        <div class="card-body text-center">
          <p class="font-size-sm card-title mt-2">
            <b>Legumes</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<!--body-->
<div class="container mt-5">
	<div class="row">
		{% for post in posts %}
		<div class="col-lg-4 col-md-6 mb-4">
			<article class="media content-section">
				<img
					class="rounded-circle article-img"
					src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
				/>
				<div class="media-body">
					<div class="article-metadata">
						<a class="mr-2" href="#">{{ post.author.username }}</a>
						<small class="text-muted"
							>{{ post.date_posted.strftime('%Y-%m-%d') }}</small
						>
					</div>
					<h2>
						<a
							class="article-title"
							href="{{ url_for('post', post_id=post.id) }}"
							>{{ post.title }}</a
						>
					</h2>
					<p class="article-content">{{ post.content }}</p>
					<h7>Price: {{ post.price }} Per Kg</h7>
				</div>
			</article>
		</div>
		{% endfor %}
	</div>
</div>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{% endblock content %}
