{% extends 'layout.html' %} {% block content %}
<div class="d-flex justify-content-center align-items-center">How it Works!</div>
<div class="container-fluid mt-1">
	<p class="fa fa-paragraph text-center" aria-hidden="true">Mazao provides a comprehensive platform for consumers who are looking to make informed choices about the food they eat. By using Mazao, users can easily access information about the production process of various food items, including whether they are grown organically, without the use of synthetic pesticides, hormones, or other excluded practices and further purchase these food items from the comfort of their homes. With Mazao, you can make sure that the food you are eating is not only delicious, but also healthy and sustainably produced.</p>
</div>
<div class="container-fluid mt-5">
	<div class="row">
		<div class="col border mx-2 text-center">
			<div class="d-flex justify-content-center align-items-center">
				<lottie-player
					src="https://assets7.lottiefiles.com/packages/lf20_Lpuvp7YT5K.json"
					background="transparent"
					speed="1"
					style="width: 300px; height: 300px"
					hover
					loop
					autoplay
				></lottie-player>
			</div>
			<i class="bi bi-people-fill"></i>
			<p>
				Fresh fruits and Vegetables made by Local farmers around the Nation at
				your Fingertips
			</p>
		</div>
		<div class="col border mx-2 text-center">
			<div class="d-flex justify-content-center align-items-center">
				<lottie-player
					src="https://assets1.lottiefiles.com/packages/lf20_ha1sw9v2.json"
					background="transparent"
					speed="1"
					style="width: 300px; height: 300px"
					hover
					loop
					autoplay
				></lottie-player>
			</div>
			<i class="bi bi-cart3"></i>
			<p>Shop for all your produce, from the comfort of your home!</p>
		</div>
		<div class="col border mx-2 text-center">
			<div class="d-flex justify-content-center align-items-center">
				<lottie-player
					src="https://assets3.lottiefiles.com/packages/lf20_toa6tsan.json"
					background="transparent"
					speed="1"
					style="width: 300px; height: 300px"
					hover
					loop
					autoplay
				></lottie-player>
			</div>
			<i class="bi bi-truck"></i>
			<p>Description of process 3</p>
		</div>
	</div>
	<div class="row mt-5 justify-content-center text-center">
		<div class="col-3">
			<button type="button" class="btn btn-info btn-lg btn-block">
				Start Buying
			</button>
		</div>
	</div>
</div>
<div class="container mt-5">
	<div class="row">
		{% for post in posts%}
		<article class="media content-section">
			<img
				class="rounded-circle article-img"
				src="{{url_for('static', filename='profile_pics/' + post.author.image_file)}}"
			/>
			<div class="media-body">
				<div class="article-metadata">
					<a class="mr-2" href="#">{{post.author.username}}</a>
					<small class="text-muted"
						>{{post.date_posted.strftime('%Y-%m-%d')}}</small
					>
				</div>
				<h2>
					<a class="article-title" href="{{ url_for('post', post_id=post.id)}}"
						>{{post.title}}</a
					>
				</h2>
				<p class="article-content">{{post.content}}</p>
				<h7>Price: {{post.price}} Per Kg</h7>
			</div>
		</article>
		{% endfor %}
	</div>
</div>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{% endblock content %}
